main {
  width: 800px;
  height: fit-content;
  background-color: #f4f4f4;
  color: #313131;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(255, 161, 161, 0.7),
    0 3px 10px rgba(255, 161, 161, 0.7);
}

#movieName {
  font-size: 40px;
  font-weight: 600;
}

#movieOriginName {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

#moviePoster {
  width: 230px;
  align-items: center;
}

.movie_img {
  width: 100%;
  float: left;
  margin-right: 50px;
  border-radius: 10px;
}

.movie_info {
  line-height: 40px;
}

#movieOverview {
  padding-top: 20px;
  clear: both;
  font-size: 17px;
}

.review {
  margin-top: 30px;
}
