header {
  cursor: pointer;
}

/* 검색 부분 */
.search {
  width: 100%;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(159, 159, 159);
  font-size: larger;
  color: rgb(255, 161, 161);
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movieSearch {
  display: inline-block;
  align-content: center;
}

#search_input {
  margin-left: 10px;
  margin-right: 5px;
  width: 30%;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}

#search_btn {
  background-color: rgb(255, 161, 161);
  color: #313131;
  font-size: medium;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

/* 영화 카드 부분 */
.searchCards {
  background-color: bisque;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.movie-card {
  position: relative;
  width: 300px;
  margin: 10px;
  border-radius: 7px;
  /* background-color: #f4f4f4; */
  color: #313131;
  justify-self: center;
  cursor: pointer;
  overflow: hidden;
}

.movie-card .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  max-height: 100%;
  background-color: #313131e5;
  color: #fff;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover .movie-info {
  transform: translateY(0%);
}

.movie-card:hover {
  box-shadow: 0 3px 10px rgba(255, 161, 161, 0.7),
    0 3px 10px rgba(255, 161, 161, 0.7);
}

/* 검색 결과 설명 */
.info-card {
  display: none;
  justify-content: center;
  color: rgb(255, 161, 161);
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie_img {
  width: 100%;
  border-radius: 7px;
}

.movie-info p {
  margin: 5px;
}

.movie-info .movie_name {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
}

.movie-info .movie_desc {
  font-family: "DM Serif Display", serif;
  font-size: 17px;
  color: #fff;
}

.movie-info .movie_rate {
  font-size: 15.5px;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
}

.movie-info .movie_rate.pink {
  background-color: rgb(255, 161, 161);
  color: #313131;
}

.movie-info .movie_rate.yellow {
  background-color: rgb(248, 248, 128);
  color: #313131;
}

.movie-info .movie_rate.blue {
  background-color: rgb(181, 192, 253);
  color: #313131;
}

.buttons {
  text-align: center;
  margin-bottom: 15px;
}

#vote,
#popular {
  font-size: 17px;
  color: #313131;
  text-decoration: none;
  background-color: rgb(255, 161, 161);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#vote:hover,
#popular:hover {
  color: #f4f4f4;
}
